*.res.gpx
salida*.txt
*cache*
Montevideo.osm
MontevideoConParadas.osm
MontevideoConBuses.osm
MontevideoPartido.osm
MontevideoReducido.osm
MontevideoConBusesReducido.osm
lineas_procesadas.lua
lineasrutas/logs/
paradas_doble.xml
paradas_malas.xml
paradas_noref.xml
way_ids_por_varian.lua
way_ids_por_varian_completo.lua
ways_a_partir.lua
